.direction {
    width: 100%;
    margin-bottom: 50px;

    &__wrapper {
        padding: 0 3px;
    }

    &__title {
        margin: 0;
        font-weight: 600;
        font-size: 28px;
        line-height: 100%;
        margin-bottom: 15px;
        text-align: center;
    }

    &__list {
        padding: 0;
        margin: 0;
        list-style-type: none;
    }

    &__item {
        position: relative;
        width: 100%;

        &:not(:last-child) {
            margin-bottom: 10px;
        }

        &::before {
            position: absolute;
            content: '';
            width: 100%;
            height: 100%;
            background-color: rgba(45, 54, 83, 0.6);
        }

        &:nth-child(1) {
            width: 100%;
            height: auto;
            background-image: url('../assets/bg-dir-1.png');
            background-repeat: no-repeat;
            background-position: center;
            // background-size: 280px 60px;
        }

        &:nth-child(2) {
            width: 100%;
            height: auto;
            background-image: url('../assets/bg-dir-2.png');
            background-repeat: no-repeat;
            background-position: center;
            // background-size: 280px 60px;
        }

        &:nth-child(3) {
            width: 100%;
            height: auto;
            background-image: url('../assets/bg-dir-3.png');
            background-repeat: no-repeat;
            background-position: center;
            // background-size: 280px 60px;
        }

        &:nth-child(4) {
            width: 100%;
            height: auto;
            background-image: url('../assets/bg-dir-4.png');
            background-repeat: no-repeat;
            background-position: center;
            // background-size: 280px 60px;
        }

        &:nth-child(5) {
            width: 100%;
            height: auto;
            background-image: url('../assets/bg-dir-5.png');
            background-repeat: no-repeat;
            background-position: center;
            // background-size: 280px 60px;
        }

        &:nth-child(6) {
            width: 100%;
            height: auto;
            background-image: url('../assets/bg-dir-6.png');
            background-repeat: no-repeat;
            background-position: top;
            // background-size: 280px 240px;
        }
    }

    &-content {
        &__wrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            min-height: 60px;
            padding: 0 10px;
            padding-right: 16px;

            &-top {
                display: flex;
                justify-content: space-between;
            }
        }

        &__title {
            position: relative;
            margin: 0;
            font-weight: 600;
            font-size: 20px;
            line-height: 100%;
            color: $third-color;
            z-index: 2;
            padding-right: 10px;
        }

        &__arrow {
            position: relative;
            z-index: 2;
        }

        &__text {
            display: none;
            margin: 0;
        }
    }
}