.map {
    width: 100%;
    margin-bottom: 50px;

    &__wrapper {
        &-content {
            min-height: 372px;
            overflow-x: auto;
        }
    }

    &__header {
        width: 100%;
        padding-top: 18px;
        padding-left: 5px;

        &-title {
            margin: 0;
            font-weight: 600;
            font-size: 20px;
            line-height: 100%;
            padding-right: 26px;
            margin-bottom: 20px;
        }

        &-list {
            display: flex;
            overflow-x: auto;
            padding: 0;
            margin: 0;
            list-style-type: none;
        }

        &-item {
            width: auto;
            padding-bottom: 20px;
            font-weight: 600;

            &:not(:last-child) {
                margin-right: 16px;
            }

            &-text {
                margin: 0;
                min-width: max-content;         
            }

            &--current {
                color: $second-color;
                border-bottom: 2px solid $bg-second-color;
            }
        }
    }

}