@import "vendor";
$main-color: black;

body {
    background-color: $main-color;
    background-image: url('../img/content-1.jpeg');
}

main {
    background-color: antiquewhite;
}

.page {
    background-color: aqua;

    &__body {
        color: $main-color;
        background-color: #e6e6ee;
    }
}